@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1>Trash City </h1>
        <p class="lead">The cutting edge of waste management. </p>
        <p>Thank you for entrusting us with your garbage.</p>
        <p><a href="~/Customer/Portal" class="btn btn-default btn-lg btn-block">Customer &raquo;</a></p>

        <p><small><a href="~/Employee/Portal">Employee of Trash City?  Click here...</a></small></p>
    </div>
</div>