@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash City Portal</h1>
    <p class="lead">bkjbkjkb jkjb </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Customer &raquo;</a></p>

    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Employee&raquo;</a></p>
</div>
