
@{
    ViewBag.Title = "EmployeePortal";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h2>EmployeePortal</h2>


<div class="jumbotron">
    <p>this is where workers will meet their needz</p>
    <select>
        @foreach (var zipCode in Model.ZipCodes)
        {
            <option>@zipCode.zipCode</option>  //using razor
        }
    </select>
</div>
