
@{
    ViewBag.Title = "EmployeePortal";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h2>EmployeePortal</h2>


<div class="jumbotron">
    <p>this is where workers will meet their needz</p>
    
</div>
