
@{
    ViewBag.Title = "RouteMap";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h2>RouteMap</h2>


    @*API KEY = AIzaSyDuRnUrUd-zl-x_zdPUpMIeaE0Q1MmSmNI*@
     

<section id="map" style="width:70%; height:500px;"></section>
<section id="address" style="width:70%; height:500px;"></section>
<script language="javascript">
   var geocoder;
   var map;
   function initialize(){
       geocoder = new google.maps.Geocoder();
       var latlng = new google.maps.LatLng(43.038900001, -87.906500001);
       var mapOptions = {
           zoom: 16,
           center: latlng
       }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
   }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuRnUrUd-zl-x_zdPUpMIeaE0Q1MmSmNI&callback=initialize">
</script>