
@model TrashCollection.ViewModels.RouteListViewModel

@{
    
    ViewBag.Title = "RouteList";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h2>RouteList</h2>


<select>
    @foreach (var zipCode in Model.ZipCodes)
    {
        <option>@zipCode.zipCode</option>  //using razor
    }
</select>



