
@model TrashCollection.ViewModels.RouteListViewModel

@{
    
    ViewBag.Title = "RouteList";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h2>RouteList</h2>


<select onchange="location = '/Employee/Route/' + this.options[this.selectedIndex].value;">
    <option>Please select a zip code...</option>
    @foreach (var zipCode in Model.ZipCodes)
    {
        <option value="@zipCode.ID">@zipCode.zipCode</option>
    }
</select>



